@import url("https://fonts.cdnfonts.com/css/sunsive");

@import "tailwindcss";

@theme {
  --font-sans: 'Sunsive', sans-serif;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-background-inverse: oklch(0.141 0.005 285.823);
  --color-foreground-inverse: oklch(0.985 0 0);
  --color-primary: oklch(0.623 0.214 259.815);
  --color-primary-foreground: oklch(0.97 0.014 254.604);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-border: oklch(0.92 0.004 286.32);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
}
